<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,"> -->
	<!-- <link rel="icon" type="image/png" href="{% static "assets/AT-pro-logo.png" %}"/> -->
	<title>ITSM</title>

	<!-- Import lib -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.min.css' %}">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
	<!-- End import lib -->

	<!-- For New Change -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- For New Change End-->

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

		<!-- navbar -->
		<div class="navbar">
			<!-- nav left -->
			<a href="/dashboard"><img src="{% static 'images/olatlogo_300dpi_updated.png' %}"
			style="height: 50px; max-width: fit-content; margin-top: 10px;"></a>
			<h3 class="nav-item" style="padding-left: 20px;">IT Service Management</h3>
			<!-- end nav left -->
			<!-- nav right -->
			<div class="navbar-nav nav-right">
				<!-- <h3 style="margin-right: 20px;">Hello,  {{request.user}}</h3> -->
				<h3 style="margin-right: 20px;">Hello, {{ request.user.first_name }}</h3>
				<input type="text" style="display: none;" id="current_user" value="{{ request.user.first_name }}" >
				<div class="avt dropdown">
					<img src="{% static 'images/admin.png' %} " alt="User image" class="dropdown-toggle" data-toggle="user-menu">
					<ul id="user-menu" class="dropdown-menu" style="position: relative; left: 30px;">
						<li  class="dropdown-menu-item">
							<a href="/logout" class="dropdown-menu-link">
							<span>Logout</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end navbar -->

		
	<!-- sidebar -->
	<div class="sidebar" style="margin-top: 66px;">
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item" id="dashboard_id">
				<a href="/dashboard" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-tachometer-alt"></i>
					</div>
					<span style="font-weight: bold;">
						Dashboard
					</span>
				</a>
			</li>

			{% if permission.ch_m_a == "on" or permission.ch_m_e == "on" or permission.ch_m_d == "on" or permission.ch_m_v == "on" or permission.ch_m_approve == "on" or permission.ch_m_assign == "on" or permission == None %}
			<li class="sidebar-nav-item" id="newchange_id">
				<a href="/newchange" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-users"></i>
					</div>
					<span style="font-weight: bold;">Change Management</span>
				</a>
			</li>
			{% endif %}

			{% if permission.inci_m_a == "on" or permission.inci_m_e == "on" or permission.inci_m_d == "on" or permission.inci_m_v == "on" or permission.inci_m_approve == "on" or permission.inci_m_assign == "on" or permission == None %}
			<li  class="sidebar-nav-item" id="userrequest_id">
				<a href="/userrequest" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
					<i class="fas fa-hat-cowboy"></i>

					</div>
					<span style="font-weight: bold;">Incident Management</span>
				</a>
			</li>
			{% endif %}

			{% if permission.confi_m_a == "on" or permission.confi_m_e == "on" or permission.confi_m_d == "on" or permission.confi_m_v == "on" or permission == None %}
			<li  class="sidebar-nav-item"  onclick="show_confi_menu()" id="configuration_id">
				<label class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-spinner"></i>
					</div>
					<span style="font-weight: bold;">Configuration Management</span>
				</label>
				<div id="confi_menu" onmouseleave="hide_confi_menu()" style="display: none;">
					<p class="menus" style="text-decoration: none; margin-bottom: 2px;" onclick="show_contact_menu()">
						<i class="fas fa-chevron-right"></i> Contacts</p>
					<div id="contact_menu" onmouseleave="hide_contact_menu()" style="display: none;
					position: relative; left: 30px;">					
						<a class="menus" href="{% url 'team' %}"  style="display: block;"><i class="fas fa-chevron-right"></i> Team</a>
						<a class="menus" href="{% url 'client' %}"  style="display: block;"><i class="fas fa-chevron-right"></i> Person</a>
					</div>				
					<a class="menus" href="{% url 'location' %}" style="display: block;"><i class="fas fa-chevron-right"></i> Location</a>
					<a class="menus" href="{% url 'newci' %}" style="display: block;"><i class="fas fa-chevron-right"></i> New CI</a>
					<a class="menus" href="{% url 'document' %}" style="display: block;"><i class="fas fa-chevron-right"></i> Documents</a>
					<a class="menus" href="{% url 'software' %}" style="display: block;"><i class="fas fa-chevron-right"></i> Software Catlog</a>
				</div>
			</li>
			{% endif %}


			{% if permission.serv_m_a == "on" or permission.serv_m_e == "on" or permission.serv_m_d == "on" or permission.serv_m_v == "on" or permission == None %}
			<li  class="sidebar-nav-item" id="servicenav_id" >
				<a href="/servicenav" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-coins"></i>
					</div>
					<span style="font-weight: bold;">Service Management</span>
				</a>
			</li>
			{% endif %}


			{% if permission.user_m_a == "on" or permission.user_m_e == "on" or permission.user_m_d == "on" or permission.user_m_v == "on" or permission == None %}
			<li  class="sidebar-nav-item" id="user_id" onclick="show_User_menu()" >
				<label class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-spinner"></i>
					</div>
					<span style="font-weight: bold;">User Management</span>
				</label>
				<div id="User_menu" onmouseleave="hide_User_menu()" style="display: none;">
					<!-- <p class="menus" style="text-decoration: none; margin-bottom: 2px;" onclick="show_contact_menu()">
						<i class="fas fa-chevron-right"></i> Contacts</p>
					<div id="contact_menu" onmouseleave="hide_contact_menu()" style="display: none;
					position: relative; left: 30px;">					
						<a class="menus" href="{% url 'team' %}"  style="display: block;"><i class="fas fa-chevron-right"></i> Team</a>
						<a class="menus" href="{% url 'client' %}"  style="display: block;"><i class="fas fa-chevron-right"></i> Person</a>
					</div>				 -->
					<a class="menus" href="{% url 'user_display' %}" style="display: block;"><i class="fas fa-chevron-right"></i> User</a>
					<a class="menus" href="{% url 'role_display' %}" style="display: block;"><i class="fas fa-chevron-right"></i> Role</a>
				</div>
			</li>
			{% endif %}

			{% if permission.setting_a == "on" or permission.setting_e == "on" or permission.setting_d == "on" or permission.setting_v == "on" or permission == None %}
			<li  class="sidebar-nav-item" id="settings_id"  onclick="show_setting_menu()" >
				<label class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-comments"></i>
					</div>
					<span>Settings</span>
				</label>
				<div id="settings_menu" onmouseleave="hide_setting_menu()" style="display: none;">
					<p class="menus" style="text-decoration: none; margin-bottom: 2px;" onclick="show_Notification_menu()">
						<i class="fas fa-chevron-right"></i>Notification</p>
					<div id="Notification_menu" onmouseleave="hide_Notification_menu()" style="display: none;
					position: relative; left: 30px;">					
						<a class="menus" href="{% url 'email_display' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>Email Notifier</a>
						<a class="menus" href="{% url 'sms_display' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>SMS Notifier</a>
						<a class="menus" href="{% url 'boat_display' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>BOAT Notifier</a>

					</div>

					<p class="menus" style="text-decoration: none; margin-bottom: 2px;" onclick="show_Administration_menu()">
						<i class="fas fa-chevron-right"></i>Administration</p>
					<div id="Administration_menu" onmouseleave="hide_Administration_menu()" style="display: none;
					position: relative; left: 30px;">					
						<a class="menus" href="{% url 'externaluser' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>External User</a>
						<a class="menus" href="{% url 'idapuser' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>LDAP User</a>
						<a class="menus" href="{% url 'itsmuser' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>ITSM User</a>
					</div>	

					<p class="menus" style="text-decoration: none; margin-bottom: 2px;" onclick="show_Configuration_menu()">
						<i class="fas fa-chevron-right"></i>Configuration</p>
					<div id="Configuration_menu" onmouseleave="hide_Configuration_menu()" style="display: none;
					position: relative; left: 30px;">					
						<a class="menus" href="#"  style="display: block;"><i class="fas fa-chevron-right"></i>General Configuration</a>
						<a class="menus" href="{% url 'synchro_data_source' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>Sync Data Sources</a>
						<a class="menus" href="#"  style="display: block;"><i class="fas fa-chevron-right"></i>Notification</a>
						<a class="menus" href="{% url 'sysconfiauth' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>OAuth Client</a>
						<a class="menus" href="{% url 'integration' %}"  style="display: block;"><i class="fas fa-chevron-right"></i>Integration</a>
					</div>
					<a class="menus" href="{% url 'new_organization' %}" style="display: block;"><i class="fas fa-chevron-right"></i>Data Administration</a>
				</div>
			</li>
			{% endif %}

			{% if permission.history_a == "on" or permission.history_e == "on" or permission.history_d == "on" or permission.history_v == "on" or permission == None %}
			<li  class="sidebar-nav-item" id="logs_id">
				<a href="/logs" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
					<i class="fas fa-file"></i>
					</div>
					<span style="font-weight: bold;">History</span>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<!-- end sidebar -->

	<div>
		<!--content start-->
		<div class="content">
			{% block content %}
	
			{% endblock content %}
		</div>
		<!--content end-->
	</div>


	<!-- import script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="{% static 'index.js' %}"></script>
	<!-- end import script -->

	<!-- For New Change -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- For New Change End-->


	<!-- for configuration management menu -->
	<script>
		function show_confi_menu() {
			document.getElementById('confi_menu').style.display = 'block'
		}

		function hide_confi_menu() {
			document.getElementById('confi_menu').style.display = 'none'
		}
	</script>

	<!-- for configuration management menu -->
	<script>
		function show_contact_menu() {
			document.getElementById('contact_menu').style.display = 'block'
		}
	
		function hide_contact_menu() {
			document.getElementById('contact_menu').style.display = 'none'
		}
	</script>

	<!-- for configuration management menu -->
<script>
	function show_Configuration_menu() {
		document.getElementById('Configuration_menu').style.display = 'block'
	}
	
	function hide_Configuration_menu() {
		document.getElementById('Configuration_menu').style.display = 'none'
	}
</script>

	<!-- for Settings menu -->
	<script>
		function show_setting_menu() {
			document.getElementById('settings_menu').style.display = 'block'
		}
		
		function hide_setting_menu() {
			document.getElementById('settings_menu').style.display = 'none'
		}
	</script>


<script>
	function show_Administration_menu() {
		document.getElementById('Administration_menu').style.display = 'block'
	}
	
	function hide_Administration_menu() {
		document.getElementById('Administration_menu').style.display = 'none'
	}
</script>

<script>
	function show_User_menu() {
		document.getElementById('User_menu').style.display = 'block'
	}
	
	function hide_User_menu() {
		document.getElementById('User_menu').style.display = 'none'
	}
</script>

<script>
	function show_Notification_menu() {
		document.getElementById('Notification_menu').style.display = 'block'
	}
	
	function hide_Notification_menu() {
		document.getElementById('Notification_menu').style.display = 'none'
	}
</script>

</body>
</html>
