<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/png" href="{% static "assets/AT-pro-logo.png" %}"/>
	<title>ITSM</title>

	<!-- Import lib -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "fontawesome-free/css/all.min.css" %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<!-- End import lib -->

	<!-- For New Change -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- For New Change End-->

	<!-- css for menu -->
	<style>
		.menus {
			position: relative; 
			left: 50px;
			padding: 10px;
			color: black;
		}

		.menus:hover {
			background-color: gainsboro;
			text-decoration: none;
		}
	</style>


	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>

		<!-- navbar -->
		<div class="navbar">
			<!-- nav left -->
			<img src="{% static 'images/olatlogo_300dpi_updated.png' %}"
			style="height: 50px; max-width: fit-content; margin-top: 10px;">
			<h3 class="nav-item" style="padding-left: 20px; ">IT Service Management</h3>
			<!-- end nav left -->
	
			<!-- nav right -->
			<div class="navbar-nav nav-right">
				<h3 style="margin-right: 20px;">Hello,  {{request.user}}</h3>
				<div class="avt dropdown">
					<img src="{% static "images/admin.png" %} " alt="User image" class="dropdown-toggle" data-toggle="user-menu">
					<ul id="user-menu" class="dropdown-menu" style="position: relative; left: 30px;">
						<li  class="dropdown-menu-item">
							<a href="/logout" class="dropdown-menu-link">
							<span>Logout</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end navbar -->

		
	<!-- sidebar -->
	<div class="sidebar" style="margin-top: 66px;">
		<ul class="sidebar-nav">

			<li class="sidebar-nav-item">
				<a href="/dashboard" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-tachometer-alt"></i>
					</div>
					<span>
						Dashboard
					</span>
				</a>
			</li>

			<li class="sidebar-nav-item">
				<a href="/newchange" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-users"></i>
					</div>
					<span>Change Management</span>
				</a>
			</li>

			<li  class="sidebar-nav-item">
				<a href="/userrequest" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
					<i class="fas fa-hat-cowboy"></i>

					</div>
					<span>Incedent Management</span>
				</a>
			</li>

			<li  class="sidebar-nav-item"  onclick="show_confi_menu()" >
				<label class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-spinner"></i>
					</div>
					<span>Configuration Management</span>
				</label>
				<div id="confi_menu" onmouseleave="hide_confi_menu()" style="display: none;">
					<p class="menus" style="text-decoration: none; margin-bottom: 2px;" onclick="show_contact_menu()">
						<i class="fas fa-chevron-right"></i> Contacts</p>
					<div id="contact_menu" onmouseleave="hide_contact_menu()" style="display: none;
					position: relative; left: 30px;">					
						<a class="menus" href="{% url 'team' %}"  style="display: block;"><i class="fas fa-chevron-right"></i> Team</a>
						<a class="menus" href="{% url 'client' %}"  style="display: block;"><i class="fas fa-chevron-right"></i> Person</a>
					</div>				
					<a class="menus" href="{% url 'location' %}" style="display: block;"><i class="fas fa-chevron-right"></i> Location</a>
					<a class="menus" href="{% url 'newci' %}" style="display: block;"><i class="fas fa-chevron-right"></i> New CI</a>
					<a class="menus" href="{% url 'document' %}" style="display: block;"><i class="fas fa-chevron-right"></i> Documents</a>
					<a class="menus" href="{% url 'software' %}" style="display: block;"><i class="fas fa-chevron-right"></i> Software Catlog</a>
				</div>
			</li>

			<li  class="sidebar-nav-item">
				<a href="/servicenav" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-coins"></i>
					</div>
					<span>Service Management</span>
				</a>
			</li>

			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
					<i class="fas fa-comments"></i>
					</div>
					<span>Settings</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->





	<div>
		<!--content start-->
		<div class="content">
			{% block content %}
	
			{% endblock content %}
		</div>
		<!--content end-->
	</div>


	<!-- import script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="{% static "index.js" %}"></script>
	<!-- end import script -->

	<!-- For New Change -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- For New Change End-->

	<!-- for display configuration management menu -->
	<script>
		function show_confi_menu() {
			// alert('hi')
			document.getElementById('confi_menu').style.display = 'block'
		}

		function hide_confi_menu() {
			// alert('hi')
			document.getElementById('confi_menu').style.display = 'none'
		}
	</script>

	<!-- for display configuration management menu -->
	<script>
		function show_contact_menu() {
			// alert('hi')
			document.getElementById('contact_menu').style.display = 'block'
		}
	
		function hide_contact_menu() {
			// alert('hi')
			document.getElementById('contact_menu').style.display = 'none'
		}
	</script>

</body>
</html>
