{% extends 'tool/adminbase.html' %}
{% load static %}
{% block content %}


<div style="position: relative; top: 65px; margin-left: 150px; padding-top: 0px; margin-top: 0px;">
    <div style="width: 60%;">

    <div class="col-md-8" style="color:brown; display: block;">
        <h1>{{ mchange.ch_organization}}</h1>
    </div>

    <div class="col-md-6"  style="display: block;">
        <table class="table">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td>{{mchange.id}}</td>
                </tr>
                <tr>
                    <td>Organization:</td>
                    <td>{{mchange.ch_organization}}</td>
                </tr>
                <tr>
                    <td>Caller:</td>
                    <td>{{mchange.ch_caller_id}}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{mchange.ch_status}}</td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>{{mchange.ch_category}}</td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>{{mchange.ch_title}}</td>
                </tr>
                <tr>
                    <td>Start Date:</td>
                    <td>{{mchange.dt_start_date}}</td>
                </tr>
                <tr>
                    <td>Updated Date:</td>
                    <td>{{mchange.dt_Updated_date}}</td>
                </tr>
                <tr>
                    <td>Parent Change:</td>
                    <td>{{mchange.ch_parent_change_id}}</td>
                </tr>
                <tr>
                    <td>Fallback Plan:</td>
                    <td>{{mchange.txt_fallback_plan}}</td>
                </tr>
                <tr>
                    <td>Part Number:</td>
                    {% if mchange.ch_hardware.part_number is none %}
                    <td>None</td>
                    {% else %}
                    <td>{{ mchange.ch_hardware.part_number }}</td>
                    {% endif %}
                  </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{mchange.txt_description}}</td>
                </tr>
                <tr>
                    <td>Assign Agent:</td>
                    <td>{{ mchange.ch_assign_agent}}</td>
                </tr>

            </tbody>
        </table>


        {% if chcomment is not None %}
        <div style="color: green;">
            <h4>Resolved Remark : {{ chRcomment }}</h4>
        </div>
        {% endif %}

        {% if mchange.ch_status == "Reopen" %}
        <div style="color: red;">
            <h4>Reason of Reopen : {{ chcomment }}</h4>
        </div>
        {% endif %}
    </div>
    </div>

        <!-- {% if chcomment %}
        <p><strong>Reason of Reopen:</strong>{{chcomment}}</p>
        {% else %}
        <p>No comment available</p>
        {% endif %}


        {% if chRcomment %}
        <p><strong>Reason of Resolved:</strong>{{chRcomment}}</p>
        {% else %}
        <p>No comment available</p>
        {% endif %} -->

        <div style="position: relative; bottom: 90px; left: 200px;">
            <div class="col-md-6" style="color:brown; display: block;">
                <h2>Logs</h2>
            </div>
            <div class="col-md-6" style="display: block;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">ID</th>
                            <th style="text-align: center;">Aciton</th>
                            <th style="text-align: center;">Logged User</th>
                            <th style="text-align: center;">Timestamp</th>
                        </tr>
                    </thead>

                    {% for i in cticket_log %}
                    <tbody style="text-align: center;">
                        {% csrf_token %}
                        <td>{{forloop.counter}}</td>
                        <td>{{i.action}}</td>
                        <td>{{i.logged_user}}</td>
                        <td>{{i.timestamp}}</td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>





        </div>

    </div>

    {% endblock %}