{% load static %}
  <p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select the type of contact to create
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="nav-item nav-link" href="{% url 'team' %}">Team</a>
        <a class="nav-item nav-link" href="{% url 'client' %}">Person</a>
      </div>
    </div>
    </p>