<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="dropdown-content">
	<a href="#" id="approve_btn" class="btn btn-primary">Approval</a>
	<a href="#" id="approved_btn" class="btn btn-primary">Approved</a>
	<a href="#" id="reopen_btn" class="btn btn-primary">Reopen</a>
	<a href="#" id="close_btn" class="btn btn-primary">Close</a>
	<a href="#" id="assign_btn" class="btn btn-primary">Assign</a>
</div>
</body>
</html>
