{% extends 'tool/adminbase.html' %}
{% load static %}
{% block content %}

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.min.js" integrity="sha512-qKyIokLnyh6oSnWsc5h21uwMAQtljqMZZT17CIMXuCQNIfFSFF4tJdMOaJHL9fQdJUANid6OB6DRR0zdHrbWAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script> src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"</script> -->



<!-- main content -->
<div class="wrapper" style="width: 95.1%;">
  <br><br>
  <!-- ****** cards start ********** -->
  <div class="row" style="margin-left: 20px; margin-right: 20px;">
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; font-weight: bolder;">{{User}}
          <h2 style="color:azure; ">Total Request</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure ">{{total_customer}}</h3> -->
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; font-weight: bolder;">100
          <h2 style="color:azure; ">Overdue Tickets</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure; ">{{total_customer}}</h3> -->
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; font-weight: bolder;">{{newopen}}
          <h2 style="color:azure; ">New And Open Tickets</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure; ">{{total_customer}}</h3> -->
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; font-weight: bolder;">{{org}}
          <h2 style="color:azure; ">Tickets On Hold</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure; ">{{total_customer}}</h3> -->
      </div>
    </div>

  </div>
  <!-- ****** cards end ********** -->

  <br><br><br>

  <!-- ****** cards start ********** -->
  <div class="row" style="margin-left: 20px; margin-right: 20px;">
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; font-weight: bolder;">{{watch}}
          <h2 style="color:azure; ">Tickets I am Watching</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure; ">{{total_customer}}</h3> -->
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; font-weight: bolder;">{{Assign}}
          <h2 style="color:azure; ">Assign Tickets</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure; ">{{total_customer}}</h3> -->
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; ">{{service}}
          <h2 style="color:azure; ">Service Request</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure; ">{{total_customer}}</h3> -->
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter " style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%);">
        <h3 style="color:azure; font-weight: bolder;">{{change}}
          <h2 style="color:azure; ">Change Request</h2>

          <!-- <i class="fas fa-users"></i> -->
        </h3>
        <!-- <h3 style="color:azure; ">{{total_customer}}</h3> -->
      </div>
    </div>

  </div>

  <div id="data"
    data-values="{{Customer_Contract_count}},{{Provider_Contract_count}}, {{Delivery_Model_count}}, {{Services_count}}, {{SLA_count}}, {{SLT_count}}, {{Service_Subcategory_count}}">
  </div>
  <div id="Data" data-values="{{ incident_count }},{{ service_count }}"></div>

  <!-- ****** cards end ********** -->
  <style>
    #bar_chart-container {
      margin-top: 50px;
      margin-left: 130px;
      width: 45%;
    }

    #DoughnutChart_chart-container {
      margin-top: 50px;
      margin-left: 30px;
      width: 45%;
    }
  </style>



  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <div class="row">
    <div id="bar_chart-container">
      <canvas id="myBarChart"></canvas>
    </div>

    <div id="DoughnutChart_chart-container">
      <canvas id="myDoughnutChart"></canvas>
    </div>
  </div>

  <script>
    var dataString = document.getElementById('data').getAttribute('data-values');
    var dataValues = dataString.split(',');
    console.log('Data values:', dataValues);
    var data = dataValues.map(function (value) {
      return parseInt(value);
    });
    var canvas = document.getElementById('myBarChart');
    console.log('Canvas:', canvas);

    var ctx = canvas.getContext('2d');
    console.log('Context:', ctx);


    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Customer Contract', 'Provider Contract', 'Delivery Model', 'Services', 'SLA', 'SLT', 'Service Subcategory'],
        datasets: [{
          label: '# Graph of Service',
          data: data,
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 159, 64, 0.6)',


          ],
          borderColor: [
            'black',
            'black',
            'black',
            'black',
            'black',
            'black',
            'black',

          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

  <script>
    var dataString = document.getElementById('Data').getAttribute('data-values');
    var dataValues = dataString.split(',');
    console.log('Data values:', dataValues);
    var Data = dataValues.map(function (value) {
      return parseInt(value);
    });

    var canvas = document.getElementById('myDoughnutChart');
    console.log('Canvas:', canvas);

    var ctx = canvas.getContext('2d');
    console.log('Context:', ctx);

    var myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Incident', 'Service'],
        datasets: [{
          label: '# of Request',
          data: Data,
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
          ],
          borderColor: [
            'black',
            'black',
          ],
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
          legend: {
            position: 'left'
        }
    }
  }
});
console.log('Chart:', myDoughnutChart);
</script>




  <!-- ****** table  start ********** -->
  <!-- <div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Recent Enquiry By Customer
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>Customer Name</th>
									<th>Vehicle Name</th>
									<th>Category</th>
									<th>Vehicle Model</th>
									<th>Vehicle Brand</th>
									<th>Problem Description</th>
								</tr>
							</thead>
							<tbody>
								{% for c,r in data %}
								<tr>
									<td> {{c.get_name}}</td>
									<td> {{r.vehicle_name}}</td>
									<td>{{r.category}}</td>
									<td>{{r.vehicle_model}}</td>
									<td>{{r.vehicle_brand}}</td>
									<td>{{r.problem_description}}</td>
								</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div> -->
  <!-- ****** table start ********** -->

  <br><br><br><br><br><br>

  <!-- <canvas id="myChart" style="width:100%;max-width:600px"></canvas> -->





</div>
<!-- end main content -->

<!-- <script>
  var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
  var yValues = [55, 49, 44, 24, 15];
  var barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145"
  ];
  
  new Chart("myChart", {
    type: "doughnut",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      title: {
        display: true,
        text: "World Wide Wine Production 2018"
      }
    }
  });
  </script> -->

{% endblock content %}