{% load static %}

<nav class="navbar navbar-expand-lg">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="color: wheat;">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'home' %}">Dashboard</a>
        <a class="nav-item nav-link" href="{%  url 'configurationmanagement' %}">Configuration Management</a>
        <a class="nav-item nav-link" href="{% url 'userrequest' %}">Incident Management</a>
        <a class="nav-item nav-link" href="{% url 'newchange' %}">Change Management</a>
        <a class="nav-item nav-link" href="{% url 'servicenav' %}">Service Management</a>
        <a class="nav-item nav-link" href="#">System</a>

      
      </div>
    </div>
    <span style="color: black; padding-right: 50px;">Hello, {{request.user}}</span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
  </nav>

  