{% extends 'tool/adminbase.html' %}
{% load static %}
{% block content %}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Network Device</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/person.css' %}">
  <div class="container">
    <div class="row">
      <div class="text-right">
        <a href="{% url 'home' %}" class="btn btn-primary" role="button">Back to Home Page</a>
        <a href="{% url 'configurationmanagement' %}" class="btn btn-primary" role="button">Back</a>
        <a href="{% url 'logout' %}" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE147;</i>
          <span>Hello, {{request.user}} Logout</span></a>
        {{my_filter.form}}
      </div>
    </div>
  </div>
</head>

<body>
  <div class="container" style="margin-top:30px;">
    <div class="row" style="margin-top: 5px;">
      <div class="col-xl-12">
        <form action="" method="get" class="form-inline">
          <input type="text" class="form-control" name="searchname" placeholder="Search">
          <input type="submit" class="btn btn-success" value="Search">
        </form>
      </div>
    </div>
  </div>
  <div class="text-right"> -->
<div style="position: relative; top: 65px; margin-left: 85px; padding-top: 0px; margin-top: 0px;">
  <div>
    <form action="" method="get" class="form-inline"
      style="display: inline-block; margin-top: 10px; margin-left: 10px;">
      <input type="text" class="form-control" name="searchname" placeholder="Search">
      <input type="submit" class="btn btn-primary" value="Search">
    </form>
    <div style="display: inline-block; position: relative; left: 61%;">
      <a href="{% url 'newci' %}" class="btn btn-primary" data-toggle="modal">
        <span>Back to New CI</span></a>
      <a href="#addcl_Network_deviceModal" class="btn btn-success" data-toggle="modal"><span>Add New Network
          Device</span></a>
      <button type="submit" id="delete_btn" class="btn btn-danger">Delete</button>
    </div>
    <table class="table table-striped table-hover" id="table" style="margin-top: 30px;">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll">
              <label for="selectAll"></label>
            </span>
          </th>
          <th>ID</th>
          <th>Name</th>
          <th>Organization</th>
          <th>Status</th>
          <th>Business Criticality</th>
          <th>Location</th>
          <th>Network Type</th>
          <th>Brand</th>
          <th>Model</th>
          <th>IOS Version</th>
          <th>Management IP</th>
          <th>Ram</th>
          <th>Rack Unit</th>
          <th>Serial Number</th>
          <th>Asset Number</th>
          <th>Move To Production Date</th>
          <th>Purchase Date</th>
          <th>End Of Warrenty</th>
          <th>Description</th>

        </tr>
      </thead>
      <tbody>
        {% csrf_token %}

        {% for i in nd %}
        <tr id="{{i.id}}">

          <td>
            <input type="checkbox" name="change_id[]" id="delete_product" value="{{i.id}}">
          </td>

          <td>{{i.id}}</td>
          <td>{{i.ch_ndname}}</td>
          <td>{{i.ch_organization}}</td>
          <td>{{i.ch_status}}</td>
          <td>{{i.ch_business_criticality}}</td>
          <td>{{i.ch_location}}</td>
          <td>{{i.ch_network_type}}</td>
          <td>{{i.ch_brand}}</td>
          <td>{{i.ch_model}}</td>
          <td>{{i.i_ios_version}}</td>
          <td>{{i.i_management_ip}}</td>
          <td>{{i.ch_ram}}</td>
          <td>{{i.i_rack_unit}}</td>
          <td>{{i.i_serial_number}}</td>
          <td>{{i.i_asset_number}}</td>
          <td>{{i.dt_move_to_production_date}}</td>
          <td>{{i.dt_purchase_date}}</td>
          <td>{{i.dt_end_of_warranty}}</td>
          <td>{{i.txt_description}}</td>
          <td>
            <a href="#editcl_Network_deviceModal-{{forloop.counter}}" class="edit" data-toggle="modal"><i
                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>

          </td>
        </tr>
        {% empty %}
        <!-- <span class="text-center text-danger">No Record Found</span> -->
        {% endfor %}
      </tbody>
    </table>
    <div id="addcl_Network_deviceModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{% url 'ndAdd' %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h4 class="modal-title">Add New Network Device</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <!-- <div class="form-group">
              <label>ID</label>
              <input name="id" type="text" class="form-control">
            </div> -->
              <div class="form-group">
                <label>Name</label>
                <input name="ch_ndname" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Organization<a href="{% url 'new_organization' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_organization" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Status</label>
                <select name="ch_status" type="text" class="form-control" aria-label="Default select example"
                  aria-invalid="false">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
              </div>
              <div class="form-group">
                <label>Business Criticality</label>
                <select name="ch_business_criticality" type="text" class="form-control" required>
                  <option value="High">High</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                </select>
              </div>
              <div class="form-group">
                <label>Location</label>
                <input name="ch_location" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Network Type<a href="{% url 'network_type' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_network_type" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Brand<a href="{% url 'brand' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_brand" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Model<a href="{% url 'cmodel' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_model" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>IOS Version<a href="{% url 'iosver' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="i_ios_version" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Management IP</label>
                <input name="i_management_ip" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>RAM</label>
                <input name="ch_ram" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Rack Unit</label>
                <input name="i_rack_unit" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Serial Number</label>
                <input name="i_serial_number" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Asset Number</label>
                <input name="i_asset_number" type="text" class="form-control">
              </div>

              <div class="form-group">
                <label>Move to Production Date</label>
                <input class="form-control" type="date" id="dt_move_to_production_date"
                  name="dt_move_to_production_date" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label>Purchase Date</label>
                <input class="form-control" type="date" id="dt_purchase_date" name="dt_purchase_date" required
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label> End Of Warrenty</label>
                <input class="form-control" type="date" id="dt_end_of_warranty" name="dt_end_of_warranty" required
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label>Description</label>
                <input name="txt_description" type="text" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-success" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    {% for i in nd %}
    <div id="editcl_Network_deviceModal-{{forloop.counter}}" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/ndUpdate/{{i.id}}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h4 class="modal-title">Edit </h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>ID</label>
                <input name="id" value="{{i.id}}" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Name</label>
                <input name="ch_ndname" value="{{i.ch_ndname}}" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Organization<a href="{% url 'new_organization' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_organization" type="text" value="{{i.ch_organization}}" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Status</label>
                <select name="ch_status" type="text" class="form-control" aria-label="Default select example"
                  aria-invalid="false">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
              </div>
              <div class="form-group">
                <label>Business Criticality</label>
                <select name="ch_business_criticality" type="text" value="{{i.ch_business_criticality}}"
                  class="form-control" required>
                  <option value="High">High</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                </select>
              </div>
              <div class="form-group">
                <label>Location</label>
                <input name="ch_location" type="text" value="{{i.ch_location}}" class="form-control">
              </div>
              <div class="form-group">
                <label>Network Type<a href="{% url 'network_type' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_network_type" type="text" value="{{i.ch_network_type}}" class="form-control">
              </div>
              <div class="form-group">
                <label>Brand<a href="{% url 'brand' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_brand" type="text" value="{{i.ch_brand}}" class="form-control">
              </div>
              <div class="form-group">
                <label>Model<a href="{% url 'cmodel' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="ch_model" type="text" value="{{i.ch_model}}" class="form-control">
              </div>
              <div class="form-group">
                <label>IOS Version<a href="{% url 'iosver' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <input name="i_ios_version" type="text" value="{{i.i_ios_version}}" class="form-control">
              </div>
              <div class="form-group">
                <label>Management IP</label>
                <input name="i_management_ip" type="text" value="{{i.i_management_ip}}" class="form-control">
              </div>
              <div class="form-group">
                <label>RAM</label>
                <input name="ch_ram" type="text" value="{{i.ch_ram}}" class="form-control">
              </div>
              <div class="form-group">
                <label>Rack Unit</label>
                <input name="i_rack_unit" type="text" value="{{i.i_rack_unit}}" class="form-control">
              </div>
              <div class="form-group">
                <label>Serial Number</label>
                <input name="i_serial_number" type="text" value="{{i.i_serial_number}}" class="form-control">
              </div>
              <div class="form-group">
                <label>Asset Number</label>
                <input name="i_asset_number" type="text" value="{{i.i_asset_number}}" class="form-control">
              </div>

              <div class="form-group">
                <label>Move to Production Date</label>
                <input class="form-control" type="date" id="dt_move_to_production_date"
                  value="{{i.dt_move_to_production_date}}" name="dt_move_to_production_date" required>
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label>Purchase Date</label>
                <input class="form-control" type="date" id="dt_purchase_date" name="dt_purchase_date"
                  value="{{i.dt_purchase_date}}" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label> End Of Warrenty</label>
                <input class="form-control" type="date" id="dt_end_of_warranty" name="dt_end_of_warranty"
                  value="{{i.dt_end_of_warranty}}" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                <span class="validity"></span>
              </div>
              <div class="form-group">
                <label>Description</label>
                <input name="txt_description" type="text" value="{{i.txt_description}}" class="form-control">
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-info" value="Update">
              </div>
          </form>
        </div>
      </div>
    </div>

    {% endfor %}
    <!--  Multiple Delete  -->
    <script>
      $(document).ready(function () {
        $('#delete_btn').click(function () {
          if (confirm('Are You Sure You Want to Delete User?')) {
            var id = [];
            var csrf = $('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function (i) {
              id[i] = $(this).val()

            })
            if (id.length === 0) {
              alert("please select user Which u want to delete?")
            } else {
              console.log(id)
              $.ajax({
                url: "{% url 'ndDelete' %}",
                method: "POST",
                data: {
                  id,
                  csrfmiddlewaretoken: csrf
                },
                success: function (response) {
                  alert("success")
                  location.reload();
                  for (var i = 0; i < id.length; i++) {
                    var error = $(response).find('#error_text')
                    var error_class = $(error).attr('class')
                    $('#error').addClass(error_class)
                    $('#error').text(error.text())
                    $('tr#' + id[i] + '').fadeOut('slow');
                  }
                },
              })
            }
          }
        })
      })

    </script>

    <script>
      $('#select-all').click(function (event) {
        if (this.checked) {
          // Iterate each checkbox
          $(':checkbox').each(function () {
            this.checked = true;

          });
        } else {
          $(':checkbox').each(function () {
            this.checked = false;
          });
        }
      }); 
    </script>

    {% endblock content %}
    <!-- </html> -->