{% extends 'tool/adminbase.html' %}
{% load static %}
{% block content %}

<div style="position: relative; top: 65px; margin-left: 85px; padding-top: 0px; margin-top: 0px;">

	<!-- ****** cards start ********** -->
	<div class="row" style="margin-left: 50px; width: 2600px; margin-right: 20px; margin-bottom: 30px;">
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter"
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px; margin-top: 20px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'application' %}">Application
					Solution</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px; margin-top: 20px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'businessprocess' %}">Business
					Process</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px; margin-top: 20px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'newdb' %}">DB Server</a>
			</div>
		</div>
	</div>
	<!-- ****** cards ends ********** -->

	<!-- ****** cards start ********** -->
	<div class="row" style="margin-left: 50px; width: 2600px; margin-right: 20px; margin-bottom: 30px;">
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'databaseschema' %}">Database
					Schema</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'newmiddleware' %}">Middleware</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'middlewareinstance' %}">Middleware Instance</a>
			</div>
		</div>
	</div>
	<!-- ****** cards ends ********** -->

	<!-- ****** cards start ********** -->
	<div class="row" style="margin-left: 50px; width: 2600px; margin-right: 20px; margin-bottom: 30px;">
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'other_software' %}">Other
					Software</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'pcsoftware' %}">PC
					Software</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'webapplication' %}">Web
					Application</a>
			</div>
		</div>
	</div>
	<!-- ****** cards ends ********** -->

	<!-- ****** cards start ********** -->
	<div class="row" style="margin-left: 50px; width: 2600px; margin-right: 20px; margin-bottom: 30px;">
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'webserver' %}">Web Server</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'networkdevice' %}">Network
					Device</a>
			</div>
		</div>
		<div class="col-3 col-m-6 col-sm-6">
			<div class="counter "
				style="background: linear-gradient(140deg, #8e3973  10%, #5355db  90%); width: 300px;">
				<a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
					href="{% url 'server' %}">Server</a>
			</div>
		</div>
	</div>
	<!-- ****** cards ends ********** -->
</div>

{% endblock content%}