{% load static %}
  <p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select the type of Functional CI to create 
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'application' %}">Application Solution</a>
        <a href="{% url 'businessprocess' %}">Business Process</a>
        <a href="{% url 'newdb' %}">DB Server</a>
        <a href="{% url 'databaseschema' %}">Database Schema</a>
        <a href="{% url 'newmiddleware' %}">Middleware</a>
        <a href="{% url 'middlewareinstance' %}">Middleware Instance</a>
        <a href="{% url 'other_software' %}">Other Software</a>
        <a href="{% url 'pcsoftware' %}">PC Software</a>
        <a href="{% url 'webapplication' %}">Web Application</a>
        <a href="{% url 'webserver' %}">Web Server</a>
        <a href="{% url 'networkdevice' %}">Network Device</a>
        <a href="{% url 'server' %}">Server</a>
      </div>
    </div>
    </p>