{% extends 'tool/adminbase.html' %}
{% load static %}
{% block content %}


<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Customer Contract</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/person.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="container">
    <div class="row">
      <div class="text-right">
        <a href="{% url 'home' %}" class="btn btn-primary" role="button">Back to Home Page</a>
        <a href="{% url 'customercontract' %}" class="btn btn-primary" role="button">View List</a>
        <a href="{% url 'servicenav' %}" class="btn btn-primary" role="button">Back</a>
        <a href="{% url 'logout' %}" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE147;</i>
          <span>Hello, {{request.user}} Logout</span></a>
        {{my_filter.form}}
      </div>
    </div>
  </div>
</head>

<body>
  <div class="container" style="margin-top:30px;">
    <div class="row" style="margin-top: 5px;">
      <div class="col-xl-12">
        <form action="" method="get" class="form-inline">
          <input type="text" class="form-control" name="searchstatus" placeholder="Search by Status">
          <input type="submit" class="btn btn-success" value="Search by Status">
        </form>
      </div>
    </div>
  </div>
  <div class="text-right"> -->


<div style="position: relative; top: 65px; margin-left: 85px; padding-top: 0px; margin-top: 0px;">
  <div>
    <form action="" method="get" class="form-inline"
      style="display: inline-block; margin-top: 10px; margin-left: 10px;">
      <input type="text" class="form-control" name="searchstatus" placeholder="Search by Status">
      <input type="submit" class="btn btn-primary" value="Search"><br>
      <b><a style="text-decoration: none;" class="nav-item nav-link" href="{% url 'home' %}"> Dashboard <span>&nbsp >
          </span></a></b>
      <b><a style="text-decoration: none;" class="nav-item nav-link" href="{% url 'servicenav' %}">Service Management
          <span>&nbsp > </span></a></b>
      <b><a style="text-decoration: none;" class="nav-item nav-link" href="{% url 'customercontract' %}">Customer
          Contract <span>&nbsp > </span></a></b>
    </form>
    <div class="pull-right" style="display: inline-block; margin-right: 10px; margin-top: 10px;">
      {% if permission.serv_m_a == "on" or permission == None %}
      <a href="#addcl_Customer_contractModal" class="btn btn-success" data-toggle="modal">
        <span>Add Customer Contract</span></a>
      {% endif %}

      {% if permission.serv_m_d == "on" or permission == None %}
      <!-- <a href="#deletecl_Customer_contractModal/{{i.id }} " class="btn btn-danger" data-toggle="modal"
        onclick="removeSelectedRow();"><span>Delete</span></a> -->
      <button type="submit" id="delete_btn" class="btn btn-danger">Delete</button>
      {% endif %}
    </div>
    <style>
      .required-field::before {
        content: "*";
        color: red;
      }
    </style>
    <table class="table table-striped table-hover" id="table" style="margin-top: 10px;">
      <!-- <table id="table" border="1">
    <thead> -->
      <tr style="background-color:rgb(177, 208, 244);color:rgb(18, 16, 16);">
        <th>

        </th>
        <th>ID</th>
        <th>Name</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Contract Type</th>
        <th>Provider</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Cost Unit</th>
        <th>Cost</th>
        <th>Cost Currency</th>
        <th>Billing Frequency</th>
        <th>Description</th>
        {% if permission.serv_m_e == "on" or permission == None %}
        <th>Edit</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
        {% for i in users %}
        {% if forloop.counter < 11 %} <tr id="{{i.id}}">
          <td>
            <input type="checkbox" name="change_id[]" id="delete_product" value="{{i.id}}">
          </td>
          <td>{{i.id}}</td>
          <td>{{i.ch_cname}}</td>
          <td>{{i.ch_ccustomer}}</td>
          <td>{{i.ch_status}}</td>
          <td>{{i.ch_contract_type}}</td>
          <td>{{i.ch_pprovider}}</td>
          <td>{{i.dt_start_date}}</td>
          <td>{{i.dt_end_date}}</td>
          <td>{{i.i_cost_unit}}</td>
          <td>{{i.i_cost}}</td>
          <td>{{i.i_cost_currency}}</td>
          <td>{{i.i_billing_frequency}}</td>
          <td>{{i.txt_description}}</td>
          {% if permission.serv_m_e == "on" or permission == None %}
          <td>
            <a href="#editcl_Customer_contractModal-{{i.id}}" class="edit" data-toggle="modal"><i class="material-icons"
                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <!-- <a href="#deletecl_New_changeModal-{{forloop.counter}}" class="delete" data-toggle="modal"><i
              class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a> -->
          </td>
          {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>

    {% if users.has_other_pages %}
    <ul class="pagination">
      {% if users.has_previous %}
      <li><a href="{% url 'customercontract' %}?page={{ users.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in users.paginator.page_range %}
      {% if users.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a href="{% url 'customercontract' %}?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if users.has_next %}
      <li><a href="{% url 'customercontract' %}?page={{ users.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}

    <div id="addcl_Customer_contractModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content" style="width: 700px; position: relative; right: 10%; bottom: 50%;">
          <form action="{% url 'scadd' %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
              <h4 class="modal-title">Add Customer Contract</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width: 330px; padding-left: 30px; display: inline-block;">
              <div class="form-group">
                <span class="required-field"></span><label>Name</label>
                <input name="ch_cname" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Customer:<a href="{% url 'new_organization' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <select name="ch_ccustomer_a" id="ch_organization" class="form-control"
                  style="min-height:30px;min-width:280px;" required>
                  <option selected value="">Please select Customer</option>
                  {% for i in org %}
                  <option value="{{i.ch_name}}">{{i.ch_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Status</label>
                <select name="ch_status" type="text" class="form-control" aria-label="Default select example"
                  aria-invalid="false" required>
                  <option selected value="">Please select Status</option>
                  <option value="Assign">Assign</option>
                  <option value="Pending">Pending</option>
                  <option value="Close">Close</option>
                  <option value="Approve">Approve</option>
                </select>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Contract Type</label>
                <input name="ch_contract_type" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Provider:<a href="{% url 'new_organization' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <select name="ch_pprovider_a" id="ch_organization" class="form-control"
                  style="min-height:30px;min-width:280px;" required>
                  <option selected value="">Please select Provider</option>
                  {% for i in org %}
                  <option value="{{i.ch_name}}">{{i.ch_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label for="dt_start_date">Start Date</label>
                <input class="form-control w-25" id="datetimepicker1" type="datetime-local" name="dt_start_date"
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4} / [0-12]{2}:[0-60]{2}" min="now" required>
              </div>
            </div>
            <div class="modal-body" style="width: 330px; display: inline-block; position: relative; ">
              <div class="form-group">
                <span class="required-field"></span><label for="dt_Updated_date">End Date</label>
                <input class="form-control w-25" id="datetimepicker2" type="datetime-local" name="dt_end_date"
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4} / [0-12]{2}:[0-60]{2}" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span> <label>Cost Unit</label>
                <input name="i_cost_unit" type="number" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Cost</label>
                <input name="i_cost" type="number" class="form-control" required>
              </div>
              <!-- <div class="form-group">
                <span class="required-field"></span><label>Cost Currency</label>
                <input name="i_cost_currency" type="number" class="form-control" required>
              </div> -->
              <div class="form-group">
                <span class="required-field"></span><label>Cost Currency</label>
                <select name="i_cost_currency" type="text" class="form-control" aria-label="Default select example"
                  aria-invalid="false" required>
                  <option selected value="">Please select Currency</option>
                  <option value="Rupee">Rupee</option>
                  <option value="Doller">Doller</option>
                  <option value="Euro">Euro</option>
                </select>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Billing Frequency</label>
                <input name="i_billing_frequency" type="number" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Description</label>
                <input name="txt_description" type="text" class="form-control" required>
              </div>
            </div>
            <!-- CSS For SLT Dropdown -->
            <style>
              .dropdown .dropdown-menu .form-check {
                padding: 0.25rem 1.5rem;
              }

              .dropdown .dropdown-menu .form-check .form-check-label {
                padding-left: 1.5rem;
              }
            </style>

            <!-- HTML For SLT Dropdown -->
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" style="margin-left: 30px; margin-bottom: 10px;">Select
                Services</button>
              <div class="dropdown-menu">
                {% for ser in servi %}
                <div class="form-check" style="background-color: white; width: 450px;">
                  <input class="form-check-input" name="service_ids" type="checkbox" value="{{ ser.id }}"
                    id="{{ ser.id }}">
                  <label class="form-check-label" for="{{ ser.id }}">{{ ser.ch_ssname }} : {{ ser.ch_status }} : {{ ser.txt_description }} : {{ ser.ch_sprovider }}</label>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- JS For SLT Dropdown -->
            <script>
              $('.dropdown-menu').on('click', function (event) {
                var target = $(event.target);
                var checkbox = target.find('input[type="checkbox"]');
                checkbox.prop('checked', !checkbox.prop('checked'));
              });
            </script>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-success" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Modal HTML -->
    {% for i in cust %}
    <div id="editcl_Customer_contractModal-{{i.id}}" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content" style="width: 700px; position: relative; right: 10%; bottom: 50%;">
          <form action="/scupdate/{{i.id}}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h4 class="modal-title">Edit Customer Contract</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width: 330px; padding-left: 30px; display: inline-block;">
              <div class="form-group">
                <label>ID</label>
                <input name="id" value="{{i.id}}" type="text" class="form-control" readonly>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Name</label>
                <input name="ch_cname" value="{{i.ch_cname}}" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Customer:<a href="{% url 'new_organization' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <select name="ch_ccustomer_e" id="ch_organization" class="form-control"
                  style="min-height:30px;min-width:280px;">
                  <option selected value="{{i.ch_ccustomer}}">{{i.ch_ccustomer}}</option>
                  {% for i in org %}
                  <option value="{{i.ch_name}}">{{i.ch_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Status</label>
                <select name="ch_status" value="{{i.ch_status}}" type="text" class="form-control"
                  aria-label="Default select example" aria-invalid="false">
                  <option value="Assign">Assign</option>
                  <option value="Pending">Pending</option>
                  <option value="Close">Close</option>
                  <option value="Approve">Approve</option>
                </select>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Contract Type</label>
                <input name="ch_contract_type" value="{{i.ch_contract_type}}" type="text" class="form-control">
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Provider:<a href="{% url 'new_organization' %}">
                    <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                  </a></label>
                <select name="ch_pprovider_e" id="ch_organization" class="form-control"
                  style="min-height:30px;min-width:280px;">
                  <option selected value="{{i.ch_pprovider}}">{{i.ch_pprovider}}</option>
                  {% for i in org %}
                  <option value="{{i.ch_name}}">{{i.ch_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="dt_start_date">Start Date</label>
                <input class="form-control w-25" id="dt_start_date" type="datetime-local" name="dt_start_date"
                  value="{{ i.dt_start_date|date:'Y-m-d\TH:i' }}"
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4} / [0-12]{2}:[0-60]{2}" readonly>
              </div>
            </div>
            <div class="modal-body" style="width: 330px; display: inline-block; position: relative; bottom: 18px;">
              <div class="form-group">
                <span class="required-field"></span><label for="dt_end_date">End Date</label>
                <input class="form-control w-25" id="dt_end_date" type="datetime-local" name="dt_end_date"
                  value="{{ i.dt_end_date|date:'Y-m-d\TH:i' }}"
                  pattern="[0-9]{2}-[0-9]{2}-[0-9]{4} / [0-12]{2}:[0-60]{2}" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Cost Unit</label>
                <input name="i_cost_unit" value="{{i.i_cost_unit}}" type="number" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Cost</label>
                <input name="i_cost" value="{{i.i_cost}}" type="number" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Cost Currency</label>
                <input name="i_cost_currency" value="{{i.i_cost_currency}}" type="number" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Billing Frequency</label>
                <input name="i_billing_frequency" value="{{i.i_billing_frequency}}" type="number" class="form-control" required>
              </div>
              <div class="form-group">
                <span class="required-field"></span><label>Description</label>
                <input name="txt_description" value="{{i.txt_description}}" type="text" class="form-control" required>
              </div>
              <!-- CSS For Service Dropdown -->
              <style>
                .dropdown .dropdown-menu .form-check {
                  padding: 0.25rem 1.5rem;
                }

                .dropdown .dropdown-menu .form-check .form-check-label {
                  padding-left: 1.5rem;
                }
              </style>

              <!-- HTML For Service Dropdown -->
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" style=" margin-top: 20px;" required>Select Services</button>
                <div class="dropdown-menu">
                  {% for ser in servi %}
                  <div class="form-check" style="background-color: white; width: 450px;">
                    <input class="form-check-input" name="service_ids" type="checkbox" value="{{ ser.id }}"
                      id="{{ ser.id }}">
                    <label class="form-check-label" for="{{ ser.id }}">{{ ser.ch_ssname }} : {{ ser.ch_status }} : {{ ser.txt_description }} : {{ ser.ch_sprovider }}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <!-- JS For Service Dropdown -->
              <script>
                $('.dropdown-menu').on('click', function (event) {
                  var target = $(event.target);
                  var checkbox = target.find('input[type="checkbox"]');
                  checkbox.prop('checked', !checkbox.prop('checked'));
                });
              </script>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-info" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}


    <script>
      var date = new Date();
      var minDate = date.toISOString().substring(0, 16);
      document.getElementById("datetimepicker1").min = minDate;
      document.getElementById("datetimepicker2").min = minDate;
      // document.getElementById("datetimepicker3").min = minDate;
    </script>

    <script>
      $(document).ready(function () {
        $('#delete_btn').click(function () {
          if (confirm('Are You Sure You Want To Delete Contract?')) {
            var id = [];
            var csrf = $('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function (i) {
              id[i] = $(this).val()
            })
            if (id.length === 0) {
              alert("Please Select Contract Which You Want To Delete?")
            } else {
              console.log(id)
              $.ajax({
                url: "{% url 'scdelete' %}",
                method: "POST",
                data: {
                  id,
                  csrfmiddlewaretoken: csrf
                },
                success: function (response) {
                  alert("Deleted")
                  location.reload();
                  for (var i = 0; i < id.length; i++) {
                    var error = $(response).find('#error_text')
                    var error_class = $(error).attr('class')
                    $('#error').addClass(error_class)
                    $('#error').text(error.text())
                    $('tr#' + id[i] + '').fadeOut('slow');
                  }
                },
              })
            }
          }
        })
      })
    </script>
    <script>


      $('#select-all').click(function (event) {
        if (this.checked) {
          // Iterate each checkbox
          $(':checkbox').each(function () {
            this.checked = true;
          });
        } else {
          $(':checkbox').each(function () {
            this.checked = false;
          });
        }
      });
    </script>


    {% endblock content %}