{% extends 'tool/adminbase.html' %}
{% load static %}
{% block content %}

<div style="position: relative; top: 65px; margin-left: 85px; padding-top: 0px; margin-top: 0px;">
  <!-- ****** cards start ********** -->
  <div class="row" style="margin-left: 50px; margin-right: 20px; margin-bottom: 30px;">
    <div class="col-3 col-m-6 col-sm-6" style="margin-right:200px;">
      <div class="counter"
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
          href="{% url 'customercontract' %}">Customer Contract</a>
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6" style="margin-right:200px;">
      <div class="counter "
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
          href="{% url 'providercontract' %}">Provider Contract</a>
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter "
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
          href="{% url 'servicefamilies' %}">Service Families</a>
      </div>
    </div>
  </div>
  <!-- ****** cards ends ********** -->


  <!-- ****** cards start ********** -->
  <div class="row" style="margin-left: 50px; margin-right: 20px; margin-bottom: 30px;">
    <div class="col-3 col-m-6 col-sm-6" style="margin-right:200px;">
      <div class="counter"
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
          href="{% url 'service' %}">Services</a>
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6" style="margin-right:200px;">
      <div class="counter "
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
          href="{% url 'service_subcategory' %}">Service Subcategory</a>
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
      <div class="counter "
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;" href="{% url 'sla' %}">SLAs</a>
      </div>
    </div>
  </div>
  <!-- ****** cards ends ********** -->


  <!-- ****** cards start ********** -->
  <div class="row" style="margin-left: 50px; margin-right: 20px; margin-bottom: 30px;">
    <div class="col-3 col-m-6 col-sm-6" style="margin-right:200px;">
      <div class="counter"
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;" href="{% url 'slt' %}">SLTs</a>
      </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6" style="margin-right:200px;">
      <div class="counter "
      style="background: linear-gradient(140deg, #736cd3  10%, rgb(79, 169, 189)  90%); width: 300px; margin-top: 20px;">
      <a style="margin: 10px; color: azure; font-weight: bolder; font-size: larger;"
          href="{% url 'servicedelivery' %}">Delivery Model</a>
      </div>
    </div>
  </div>
  <!-- ****** cards ends ********** -->
</div>

{% endblock content%}