<br> 
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="overdue-tickets">
                <div class="card-header">
                    <h5 class="card-title">Overdue Tickets</h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="open-tickets">
                <div class="card-header">
                    <h5 class="card-title">Open Tickets</h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="new-and-my-open-tickets">
                <div class="card-header">
                    <h5 class="card-title">New & My Open Tickets </h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="tickets-on-hold">
                <div class="card-header">
                    <h5 class="card-title">Tickets on Hold</h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="tickets-due-today">
                <div class="card-header">
                    <h5 class="card-title">Tickets Due Today</h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="service-request">
                <div class="card-header">
                    <h5 class="card-title">Service Request</h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="tickets-iam-watching">
                <div class="card-header">
                    <h5 class="card-title">Tickets I'm Watching </h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="unassigned-tickets">
                <div class="card-header">
                    <h5 class="card-title"> Unassigned Tickets</h5>

                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

</div>