{% load static %}
  <p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select the type of contact to create
       

    </button>
<p>
    <br>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <br>
        <a class="nav-item nav-link" href="{% url 'admuser' %}">Administration</a>
        <br>
        <a class="nav-item nav-link" href="{% url 'sysconfinav' %}">Configuration</a>
        <br>
        <a class="nav-item nav-link" href="{% url 'new_organization' %}">Data Administration</a>
      </div>
    </div>
    </p>