{% extends 'tool/assignform.html' %}

{% block content %}
<div class="container card p-3 mt-5 border-dark" style="width: 95%;">
    <h5 class="text-center">Assign Team</h5>
    <hr>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{form}}

        <div class="mt-5">
            <button type="submit" class="btn btn-primary">Assign</button>
            <button type="reset" class="btn btn-secondary ms-2">Reset</button>
            
        </div>
    </form>

</div>

{% endblock %}