<br>
<div class="row">
    <div class="col-md">        
        <div class="card card-body">
            <h5>Info:</h5>
        </div>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <a href="{% url 'team' %}" class="ml-2">team</a>
                    <br>
                    <a href="{% url 'role' %}" class="ml-2">Role</a>
                    
                </tr>

            </table>
        </div>

        
    </div>
</div>
