{% extends 'tool/adminbase.html' %}
{% load static %}
{% block content %}


<div style="position: relative; top: 65px; overflow-x: hidden; margin-left: 150px; padding-top: 0px; margin-top: 0px;">
  <div style="width: 60%;">
    <div class="col-md-8" style="color:brown; display: block;">
      <h2>{{ urequest.id}}</h2>
    </div>
    <div class="col-md-6" style="display: block;">
      <table class="table">
        <tbody>
          <tr>
            <td>Organization:</td>
            <td>{{ urequest.fk_organization}}</td>
          </tr>
          <tr>
            <td>Caller:</td>
            <td>{{ urequest.fk_caller }}</td>
          </tr>
          <tr>
            <td>Request Type:</td>
            <td>{{ urequest.ch_request_type }}</td>
          </tr>
          <tr>
            <td>Status:</td>
            <td>{{ urequest.ch_status }}</td>
          </tr>
          <tr>
            <td>Priority :</td>
            <td>{{ urequest.ch_priority }}</td>
          </tr>
          <tr>
            <td>Start Date:</td>
            <td>{{ urequest.dt_start_date }}</td>
          </tr>
          <tr>
            <td>Updated Date:</td>
            <td>{{ urequest.dt_Updated_date }}</td>
          </tr>
          <tr>
            <td>Title:</td>
            <td>{{ urequest.ch_title }}</td>
          </tr>
          <tr>
            <td>Service:</td>
            <td>{{ urequest.ch_service }}</td>
          </tr>
          <tr>
            <td>Service Subcategory::</td>
            <td>{{ urequest.ch_service_subcategory }}</td>
          </tr>
          <tr>
            <td>Parent Request:</td>
            <td>{{ urequest.ch_parent_request_id }}</td>
          </tr>
          <tr>
            <td>Parent Change:</td>
            <td>{{ urequest.ch_parent_change_id }}</td>
          </tr>
          <tr>
            <td>Description:</td>
            <td style="white-space: pre-wrap;">{{ urequest.txt_description }}</td>
          </tr>
          <!-- Add any other fields you want to display here -->
          <tr>
            <td>Service subcategory:</td>
            <td>{{ urequest.ch_service_subcategory_id}}</td>
          </tr>
          <tr>
            <td>SLA:</td>
            <td>{{ sla.ch_slname }}</td>
          </tr>
          <tr>
            <td>SLTs:</td>
            <td>{% for ch_name in slt_names %}
              {{ ch_name }} ,
              {% endfor %}</td>
          </tr>
        </tbody>
      </table>
      {% if Rcomment is not None %}
      <div style="color: green;">
        <h4>Resolved Remark : {{ Rcomment }}</h4>
      </div>
      {% endif %}

      {% if urequest.ch_status == "Reopen" %}
      <div style="color: red;">
        <h4>Reason of Reopen : {{ comment }}</h4>
      </div>
      {% endif %}
    </div>
  </div>


  <div style="position: relative; bottom: 90px; left: 200px;">
    <div class="col-md-6" style="color:brown; display: block;">
      <h2>Logs</h2>
    </div> 
    <div class="col-md-6" style="display: block;">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">Aciton</th>
            <th style="text-align: center;">Logged User</th>
            <th style="text-align: center;">Timestamp</th>
          </tr>
        </thead>

        {% for i in ticket_log %}
        <tbody style="text-align: center;">
          {% csrf_token %}
            <td>{{forloop.counter}}</td>
            <td>{{i.action}}</td>
            <td>{{i.logged_user}}</td>
            <td>{{i.timestamp}}</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

  {% endblock %}