<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Change</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/person.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="container">
    <div class="row">
      <div class="text-right">
        <a href="{% url 'home' %}" class="btn btn-primary" role="button">Back to Home Page</a>
        <a href="{% url 'client' %}" class="btn btn-primary" role="button">View List</a>


        <!-- <a href="{% url 'contact' %}" class="btn btn-primary" role="button">Back to Contact</a> -->



        <!-- <a href="{% url 'contact' %}">Back</a> -->

        <a href="{% url 'logout' %}" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE147;</i>
          <span>Hello, {{request.user}} Logout</span></a>
        {{my_filter.form}}
      </div>
    </div>
  </div>
</head>

<body>
  <div class="container" style="margin-top:30px;">
    <div class="row" style="margin-top: 5px;">
      <div class="col-xl-12">
        <form action="" method="get" class="form-inline">
          <input type="text" class="form-control" name="searchstatus" placeholder="Search by Status">
          <input type="submit" class="btn btn-success" value="Search by Status">
        </form>

      </div>
    </div>
  </div>
  <div class="text-right">
    <a href="#addcl_New_changeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
      <span>Add New Change</span></a>
      <a href="#deletecl_New_changeModal" class="btn btn-danger" data-toggle="modal"  onclick="delete_row();" ><i class="material-icons">delete</i>

        <span>Delete New Change</span></a>
        <!-- <input type="hidden" value="delete" class="deleterows"> -->

  </div>
  
  <table class="table table-striped table-hover">
    <table id="table" border="1">
    <thead>
      <tr>
        <th>
          <span class="custom-checkbox">
            <input type="checkbox" id="selectAll">
            <label for="selectAll"></label>
          </span>
        </th>
        <th>Organization</th>
        <th>Caller</th>
        <th>Status</th>
        <th>Category</th>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Parent Change</th>
        <th>Fallback Plan</th>
        <th>Description</th>
        <!-- <th>Mobile Number</th> -->
      </tr>
    </thead>
    <div>

      <button onclick="removeSelectedRow();">Remove</button>
    </div>
    <tbody>
      {% for i in nchange %}
      <tr>
        <td>
          <span class="custom-checkbox">
            <input type="checkbox" id="checkbox1" name="options[]" value="1">
            <label for="checkbox1"></label>
          </span>
        </td>
        <td>{{i.ch_organization}}</td>
        <td>{{i.ch_caller}}</td>
        <td>{{i.ch_status}}</td>
        <td>{{i.ch_category}}</td>
        <td>{{i.ch_title}}</td>
        <td>{{i.dt_start_date}}</td>
        <td>{{i.dt_end_date}}</td>
        <td>{{i.ch_parent_change}}</td>
        <td>{{i.txt_fallback_plan}}</td>
        <td>{{i.txt_description}}</td>
        <!-- <td>{{i.ch_person_mobilenumber}}</td> -->
        <td>
          <a href="#editcl_New_changeModal-{{forloop.counter}}" class="edit" data-toggle="modal"><i
              class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
          <!-- <a href="#deletecl_New_changeModal-{{forloop.counter}}" class="delete" data-toggle="modal"><i
              class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a> -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="addcl_New_changeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'cadd' %}" method="POST">
          {% csrf_token %}
          <div class="modal-header">
            <h4 class="modal-title">Add Change</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Organization<a href="{% url 'new_organization' %}">
                  <span class="glyphicon glyphicon-plus-sign" style="display: inline;"></span>
                </a></label>
              <input name="ch_organization" type="text" class="form-control" required />
            </div>
            <div class="form-group">
              <label>Caller<a href="{% url 'client' %}">
                  <span class="glyphicon glyphicon-plus-sign"></span></a> </label>
              <input name="ch_caller" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Status</label>
              <select name="ch_status" type="text" class="form-control" aria-label="Default select example"
                aria-invalid="false">
                <option value="Assign">Assign</option>
                <option value="Pending">Pending</option>
                <option value="Close">Close</option>
                <option value="Approve">Approve</option>
              </select>
            </div>
            <div class="form-group">
              <label>Category</label>
              <input name="ch_category" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Title</label>
              <input name="ch_title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="bday">Start Date</label>
              <input class="form-control" type="date" id="dt_start_date" name="dt_start_date" required
                pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
              <span class="validity"></span>
            </div>
            <div class="form-group">
              <label for="bday">End Date</label>
              <input class="form-control" type="date" id="dt_end_date" name="dt_end_date" required
                pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
              <span class="validity"></span>
            </div>
            <div class="form-group">
              <label>Parent Change</label>
              <input name="ch_parent_change" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Fallback Plan</label>
              <input name="txt_fallback_plan" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input name=" txt_description" type="text" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-success" value="Add">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Modal HTML -->
  {% for i in nchange %}
  <div id="editcl_New_changeModal-{{forloop.counter}}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/cupdate/{{i.id}}" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h4 class="modal-title">Edit New Change</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>ID</label>
              <input name="id" value="{{i.id}}" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Organization</label>
              <input name="ch_organization" value="{{i.ch_organization}}" type="text" class="form-control"
                required>
            </div>
            <div class="form-group">
              <label>Caller</label>
              <input name="ch_caller" value="{{i.ch_caller}}" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Status</label>
              <select name="ch_status" value="{{i.ch_status}}" type="text" class="form-control"
                aria-label="Default select example" aria-invalid="false">
                <option value="New">New</option>
                <option value="Pending">Pending</option>
                <option value="Close">Close</option>
                <option value="Resolved">Resolved</option>
              </select>
            </div>
            <div class="form-group">
              <label>Category</label>
              <input name="ch_category" value="{{i.ch_category}}" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Title</label>
              <input name="cl_title" value="{{i.ch_title}}" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="bday">Start Date</label>
              <input class="form-control" type="date" value="{{i.dt_start_date}}" name="dt_start_date" required
                pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
              <span class="validity"></span>
            </div>
            <div class="form-group">
              <label for="bday">Updated Date : {{i.dt_end_date}}</label>
              <!-- <input  type="date" value="{{i.dt_end_date}}" name="dt_end_date" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
                          <span class="validity"></span> -->
            </div>
            <div class="form-group">
              <label>Parent Change</label>
              <input name="ch_parent_change" value="{{i.ch_parent_change}}" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Fallback Plan</label>
              <input name="txt_fallback_plan" value="{{i.txt_fallback_plan}}" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input name="txt_description" value="{{i.txt_description}}" type="text" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-info" value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}

 
  {% for i in nchange %}
  <div id="deletecl_New_changeModal-{{forloop.counter}}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Delete </h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete these Records?</p>
            <p class="text-warning"><small>{{i.ch_caller}} Information are delete?</small></p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <a href="/cdelete/{{i.id}}" type="submit" class="btn btn-danger">Delete</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</body>
<script>
   
   
         var rIndex,
                table = document.getElementById("table");
            
            // check the empty input
            function checkEmptyInput()
            {
                var isEmpty = false,
                ch_organization = document.getElementById("ch_organization").value,
                ch_caller = document.getElementById("ch_caller").value,
                ch_status = document.getElementById("ch_status").value;
                
                ch_category = document.getElementById("ch_category").value ;
                ch_title =    document.getElementById("ch_title").value ;
                dt_start_date  =  document.getElementById("dt_start_date").value ;
            
                      
                dt_end_date =  document.getElementById("dt_end_date").value ;
                ch_parent_change    =  document.getElementById("ch_parent_change").value ;
                txt_fallback_plan    = document.getElementById("txt_fallback_plan").value ;
                txt_description    =   document.getElementById("txt_description").value ;
            
            
                if(ch_organization === ""){
                    alert("Organization Connot Be Empty");
                    isEmpty = true;
                }
                else if(ch_caller === ""){
                    alert(" Caller Connot Be Empty");
                    isEmpty = true;
                }
                else if(ch_status === ""){
                    alert("Status Connot Be Empty");
                    isEmpty = true;
                }
                else if(ch_category === ""){
                    alert("Category Connot Be Empty");
                    isEmpty = true;
                }
                else if(ch_title === ""){
                    alert("Title Connot Be Empty");
                    isEmpty = true;
                }
                else if(dt_start_date === ""){
                    alert("Start dat Connot Be Empty");
                    isEmpty = true;
                }
                else if(dt_end_date === ""){
                    alert("end date Connot Be Empty");
                    isEmpty = true;
                }
                else if(ch_parent_change === ""){
                    alert("Paret Change Connot Be Empty");
                    isEmpty = true;
                }
                else if(txt_fallback_plan === ""){
                    alert("Fallback Connot Be Empty");
                    isEmpty = true;
                }
                else if(txt_description === ""){
                    alert("Descrption Connot Be Empty");
                    isEmpty = true;
                }
                
                return isEmpty;
            }


   function selectedRowToInput()
            {
                
                for(var i = 1; i < table.rows.length; i++)
                {
                    table.rows[i].onclick = function()
                    {
                      // get the seected row index
                      rIndex = this.rowIndex;
                      document.getElementById("ch_organization").value = this.cells[0].innerHTML;
                      document.getElementById("ch_caller").value = this.cells[1].innerHTML;
                      document.getElementById("ch_status").value = this.cells[2].innerHTML;
                      document.getElementById("ch_category").value = this.cells[0].innerHTML;
                      document.getElementById("ch_title").value = this.cells[1].innerHTML;
                      document.getElementById("dt_start_date").value = this.cells[2].innerHTML;
                      
                      document.getElementById("dt_end_date").value = this.cells[0].innerHTML;
                      document.getElementById("ch_parent_change").value = this.cells[1].innerHTML;
                      document.getElementById("txt_fallback_plan").value = this.cells[2].innerHTML;
                      document.getElementById("txt_description").value = this.cells[2].innerHTML;

                      

                    };
                }
            }
            selectedRowToInput();


 

  function removeSelectedRow()
  {
    table.deleteRow(rIndex);

    document.getElementById("ch_organization").value = "";
    document.getElementById("ch_caller").value = "";
    document.getElementById("ch_status").value = "";
    document.getElementById("ch_category").value = "";
    document.getElementById("ch_title").value = "";
    document.getElementById("dt_start_date").value = "";
    document.getElementById("dt_end_date").value = "";
    document.getElementById("ch_parent_change").value = "";
    document.getElementById("txt_fallback_plan").value = "";
    document.getElementById("txt_description").value = "";
    

  }

  // $(document).ready(function () {
  //   // Activate tooltip
  //   $('[data-toggle="tooltip"]').tooltip();
  //   // Select/Deselect checkboxes
  //   var checkbox = $('table tbody input[type="checkbox"]');
  //   $("#selectAll").click(function () {
  //     if (this.checked) {
  //       checkbox.each(function () {
  //         this.checked = true;
  //       });
  //     } else {
  //       checkbox.each(function () {
  //         this.checked = false;
  //       });
  //     }
  //   });
  //   checkbox.click(function () {
  //     if (!this.checked) {
  //       $("#selectAll").prop("checked", false);
  //     }
  //   });
  // });
</script>

</html>